var filter = {
	// 获取车辆与当前时间的差
	GetTimeDifference: function (busTime) {
		// 当前时间
		var nowDate = getDate()
		var nowHour = parseInt(nowDate.getHours())
		var nowMinute = parseInt(nowDate.getMinutes())
		// 车辆时间
		var time = busTime.split(':')
		time[0] = parseInt(time[0])
		time[1] = parseInt(time[1])
		// 计算差值
		var res = res = Math.abs(nowMinute - time[1])
		if (time[0] != nowHour){
			res = Math.abs(time[0] - nowHour) * 60 - res
		}
		//
		if(res==0)return "即将发车"
		else if(nowHour > time[0] || (nowHour == time[0] && nowMinute > time[1]))
			return "已发车"
		else return res+"分钟"
	}
}
module.exports = {
	GetTimeDifference: filter.GetTimeDifference
}